:root{
    --bg: #F6FBF4;
}

/* wisata page */

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
}

body{
    background-color: var(--bg);
    color: #000;
}

.box1{
    background-color: #AAD7D9;
    padding: 10px;
    position: fixed;
    border-bottom: 1px solid rgb(33, 26, 26);
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}
.navibar{
    display: flex;
    /* border: 2px solid;
    border-color:black ; */
    padding: 8px;
    margin-left: 15%;
    margin-right: 15%;
    /* background-color: beige; */
}

.img-logo{
    margin-top: auto;
    margin-bottom: auto;
}

.navimenu{
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left:0px;
}

.navibar .navimenu .menu{
    color: #fff;
}

.menu, .menu-g{
    display: inline-block;
}

.menu a, .menu-g a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.menu-g{
    margin-left: 40px;
    margin-right: 40px;
}

.bannerslide{
    width:93rem;
    height:40rem;
}

.poster{
    margin-top: 59px;
    z-index: 8888;
}

/* content index html */

.content1{
    padding: 2rem 10% 1.4rem;
}

.content1 .row h2{
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 6rem;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
}
.wisata1{
    display: flex;
}

.img1{
    padding: 1rem;
}

.gambar1{
    width: 70%;
    margin: 1rem 1rem;
}

.desc1{
    color: black;
    margin: 0 2rem 0 5rem;
}



